{%- assign rando = include.rando -%}
<li class="rando" id="{{ include.parent_name | cgi_escape }}-{{ rando.identifier | cgi_escape }}">
    {%- if include.showgames -%}
        {%- assign randogames = rando.games | sort_natural -%}
        <h5>
            <ul>
            {% for game in randogames %}
                <li>{{ game }}</li>
            {% endfor %}
            </ul>
        </h5>
        <p><a href="{{ rando.url }}">{{ rando.identifier }}</a></p>
    {%- else -%}
        <h5><a href="{{ rando.url }}">{{ rando.identifier }}</a></h5>
    {%- endif -%}

    {%- if rando.sub-series -%}
        <p>Sub-series: {{ rando.sub-series }}</p>
    {%- endif -%}
    {%- if rando.obsolete -%}
        <p>OBSOLETE</p>
    {%- endif -%}
    {%- if rando.multiworld -%}
        <p>Multiworld: {{ rando.multiworld }}</p>
    {%- endif -%}
    {%- if rando.comment -%}
        <p>{{ rando.comment | markdownify }}</p>
    {%- endif -%}
</li>
