{%- assign rando = include.rando -%}
<li class="rando" id="{{ include.parent_name | cgi_escape }}-{{ rando.identifier | cgi_escape }}">
    <h5><a href="{{ rando.url }}">{{ rando.identifier }}</a></h5>

    {%- if include.standalone -%}
        {%- assign games = rando.games | sort_natural -%}
        <ul>{% for game in games %}
            <li>{{ game }}</li>
        {% endfor %}
        </ul>
    {%- endif -%}

    {%- if rando.sub-series -%}
        <p>Sub-series: {{ rando.sub-series }}</p>
    {%- endif -%}
    {%- if rando.obsolete -%}
        <p>OBSOLETE</p>
    {%- endif -%}
    {%- if rando.multiworld -%}
        <p>Multiworld: {{ rando.multiworld }}</p>
    {%- endif -%}
    {%- if rando.comment -%}
        <p>{{ rando.comment | markdownify }}</p>
    {%- endif -%}
</li>
