{%- assign rando = include.rando -%}
<li class="rando" id="{{ include.series_id }}-{{ rando.identifier }}">
    <h5><a href="{{ rando.url }}">{{ rando.identifier }}</a></h5>

    <ul>{% for game in rando.games %}
        <li>{{ game }}</li>
    {% endfor %}
    </ul>

    {%- if rando.sub-series -%}
        <p>Sub-series: {{ rando.sub-series }}</p>
    {%- endif -%}
    {%- if rando.obsolete -%}
        <p>OBSOLETE</p>
    {%- endif -%}
    {%- if rando.multiworld -%}
        <p>Multiworld: {{ rando.multiworld }}</p>
    {%- endif -%}
    <p>Info updated: {{ rando.info-updated }}</p>
    {%- if rando.comment -%}
        <p>{{ rando.comment | markdownify }}</p>
    {%- endif -%}
</li>