{%- assign old = '2024-05-26' | date: '%s' -%}

{%- assign randos = "" | split: "" -%}

{%- for series in include.series -%}
    {%- assign series_id=series[0] -%}
    {%- assign series_data=series[1] -%}

    {%- for rando in series_data.randomizers -%}
        {%- assign updated = rando.updated-date | date: '%s' -%}
        {%- if rando.updated-date == null or updated < old -%}
            {%- continue -%}
        {%- endif -%}
        {%- assign randos = randos | push: rando -%}
    {%- endfor -%}
{%- endfor -%}

{%- assign randos = randos | sort_natural: "updated-date" | reverse -%}
{%- assign prev_updated = "" -%}

<ul class="recents-list list-group list-group-flush">
{%- for rando in randos -%}
    <li class="list-group-item">
        {%- if prev_updated != rando.updated-date -%}
            {%- assign prev_updated = rando.updated-date -%}
            <h3>Updated {{ prev_updated }}</h3>
        {%- endif -%}
        
        <ul>
        {%- include rando.html rando=rando parent_name="recents" showgames=true -%}
        </ul>
    </li>
{%- endfor -%}
</ul>
