{%- assign old = '2024-05-26' | date: '%s' -%}

{%- assign randos = "" | split: "" -%}

{%- for series in include.series -%}
    {%- assign series_id=series[0] -%}
    {%- assign series_data=series[1] -%}

    {%- for rando in series_data.randomizers -%}
        {%- assign updated = rando.info-updated | date: '%s' -%}
        {%- if rando.info-updated == null or updated < old -%}
            {%- continue -%}
        {%- endif -%}
        {%- assign randos = randos | push: rando -%}
    {%- endfor -%}
{%- endfor -%}

{%- assign randos = randos | sort_natural: "info-updated" | reverse -%}
{%- assign prev_updated = "" -%}

{%- for rando in randos -%}
    {%- if prev_updated != rando.info-updated -%}
    {%- assign prev_updated = rando.info-updated -%}
        <h3>Updated {{ prev_updated }}</h3>
    {%- endif -%}
    <ul class="recents-list">
        {%- include rando.html rando=rando parent_name="recents" standalone=true -%}
    </ul>
{%- endfor -%}
