{%- assign series = include.series -%}
{%- assign games = "" | split: "" -%}
{%- for game in include.series.games -%}
    {%- assign games = games | push: game[0] -%}
{%- endfor -%}
{%- assign games = games | sort_natural -%}
{%- assign no_game_titles = false -%}

<h3 id="{{ series.name | cgi_escape }}" class="my-0"><a href="#{{ series.name | cgi_escape }}"><i class="bi bi-link-45deg"></i></a>
    {% if games.size == 1 %}
        {%- assign no_game_titles = true -%}
        {%- assign firstGame = games[0] -%}
        {%- assign game_data = series.games[firstGame] -%}
        {%- assign release_year = game_data.release-date | split: "-" | first -%}

        {{ firstGame }}
        {% if release_year %}
            <span class="text-muted fs-5">({{ release_year }})</span>
        {% endif %}
        
        {%- comment -%} Series with a different name to the sole game within will have their title appended {%- endcomment -%}
        {% if firstGame != series.name %}
            <span class="text-muted">{{ series.name }}</span>
        {% endif %}
    {% else %}
        {{ series.name }}
    {% endif %}
</h3>

{%- if series.comment -%}
    <p>{{ series.comment | markdownify }}</p>
{%- endif -%}

<ul class="series-list">
{%- if include.games_merged -%}
    {%- include randos_list.html randos=series.randomizers parent_name=series.name showgames=true -%}
{%- else -%}
    {%- include series_games.html series=series -%}
{%- endif -%}
</ul>
