<p class="series">
<h3 id="{{ include.id }}"><a href="#{{ include.id }}">🔗</a> {{ include.series.name }}</h3>

{% if include.series.comment %}
    <p>{{ include.series.comment | markdownify }}</p>
{% endif %}

<ul class="series-list">
{% for rando in include.series.randomizers %}
    <li class="rando">
        <h5><a href="{{ rando.url }}">{{ rando.identifier }}</a></h5>

        <ul>{% for game in rando.games %}
            <li>{{ game }}</li>
        {% endfor %}
        </ul>

        {% if rando.sub-series %}
            <p>Sub-series: {{ rando.sub-series }}</p>
        {% endif %}
        {% if rando.obsolete %}
            <p>OBSOLETE</p>
        {% endif %}
        {% if rando.multiworld %}
            <p>Multiworld: {{ rando.multiworld }}</p>
        {% endif %}
        {% if rando.comment %}
            <p>{{ rando.comment | markdownify }}</p>
        {% endif %}
    </li>
{% endfor %}
</ul>
</p>
