---
---

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>The BIG List of Video Game Randomizers</title>
    <style>
        .rando { border-bottom: 2px solid lightgray; padding-bottom: 1em; }
    </style>
    </head>

    <body>
    <h1>The BIG List of Video Game Randomizers</h1>

    <h3>Official Discord Community Server: <a href="https://discord.com/invite/YREMzGQ3gd">https://discord.com/invite/YREMzGQ3gd</a></h3>

    <p>
        <h2>‼️ OPEN SOURCE ANNOUNCEMENT ‼️</h2>
        GitHub repository: <a href="https://github.com/video-game-randomizers/rando-list">https://github.com/video-game-randomizers/rando-list</a><br/>
        <a href="https://www.debigare.com/the-future-of-the-video-game-randomizer-list/">Read the full announcement here!</a><br/>
    </p>

    {% for series in site.data %}
        {% assign series_id=series[0] %}
        {% assign series_data=series[1] %}
        {% if series_id == 'Multi-series' %}
            {% continue %}
        {% endif %}
        {% include series.html id=series_id series=series_data %}
    {% endfor %}

    {% assign series_id='Multi-series' %}
    {% assign series_data=site.data.Multi-series %}
    {% include series.html id=series_id series=series_data %}
    </body>
</html>
