---
---

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Home</title>
    </head>
    <body>
    <h1>{{ page.title}}</h1>

    {% for series in site.data %}
        <h3 id="{{ series[0] }}"><a href="#{{ series[0] }}">🔗</a> {{ series[1].name }}</h3>
        {% if series[1].comment %}
            <p>{{ series[1].comment | markdownify }}</p>
        {% endif %}

        <ul class="series">
        {% for rando in series[1].randomizers %}
            <li class="rando">
                <h5><a href="{{ rando.url }}">{{ rando.identifier }}</a></h5>

                <ul>{% for game in rando.games %}
                    <li>{{ game }}</li>
                {% endfor %}
                </ul>

                {% if rando.obsolete %}
                    <p>OBSOLETE</p>
                {% endif %}
                {% if rando.multiworld %}
                    <p>Multiworld: {{ rando.multiworld }}</p>
                {% endif %}
                {% if rando.comment %}
                    <p>{{ rando.comment | markdownify }}</p>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
    </body>
</html>

