name: Schema Checks
on: [push, pull_request]
jobs:
  Schema_Checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
      - name: Setup Python
        uses: actions/setup-python@v5.1.1
        with:
            python-version: '3.11'
            cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run script
        run: python3 validate-schema.py
